click==6.7
elasticsearch==6.1.1
elasticsearch-dsl==6.1.0
Flask==0.12.3
ipaddress==1.0.22
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
pkg-resources==0.0.0
python-dateutil==2.7.3
-e git+git@github.com:HarmlessHarm/elastic_tut.git@ff77019f57930061a9a3b994ffe8672da78369ec#egg=searchapp
six==1.11.0
urllib3==1.22
Werkzeug==0.15.3
